@font-face {
    font-family: 'restaurant';
    src: url("./restaurant-font.ttf");
}

* { 
    margin: 0;
    padding: 0;
    border: none;
    font-family: "restaurant";
    font-size: 10px;
}

html {
    background-image: url("./img/traditional-japan2.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
}

/* content */

#content {
    display: grid;
    grid-template-rows: auto minmax(calc(100vh - 192px), auto) auto;
}

/* header */

#header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content:  center;
    background-color: rgba(255, 255, 255, 0.500);
}

#header > h1 {
    font-size: 7rem;
}

nav {
    display: flex;
}

.navBtn {
    border: none;
    padding: 1.25rem 2.25rem;
    background: none;
    font-size: 2rem;
    font-weight: bold;
}

/* footer */

#footer {
    padding: 1.2rem;
    box-shadow: 0 0 0 100vmax rgba(255, 255, 255, 0.500);
    clip-path: inset(0 -100vmax);
    background-color:  rgba(255, 255, 255, 0.500);
}

/* main Home Page */

main.home {
    margin: 4rem auto;
    width: 290px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.500);
    padding: 2rem 1rem;
}

.txt {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#profilePic {
    border-radius: 20rem;
    width: 290px;
    height: 290px;
}

/* main menu page */

main.menu {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.500);
    margin: 4rem auto;
}

.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.550);
}

.menuItemImg {
    height: 120px;
    width: 120px;
}

.foodName {
    font-size: 2rem;
}

/* main contact page */ 

main.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem auto;
    background-color: rgba(255, 255, 255, 0.550);
    width: 300px;
}

#phoneDiv, #directionDiv{
    display: flex;
    gap: 1rem;
}

.icon {
    height: 3rem;
     
}

#phoneNumber, #direction {
    font-size: 2rem;
}

#map {
    height: 17rem;
    width: 25rem;
}
