* { 
    margin: 0;
    padding: 0;
    border: none;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    background-color: rgba(0, 0, 0, 0.782);
}

.navBtn {
    border: none;
    background-color: red;
}