@font-face {
    font-family: 'restaurant';
    src: url("./restaurant-font.ttf");
}

* { 
    margin: 0;
    padding: 0;
    border: none;
    font-family: "restaurant";
    font-size: 10px;
}

html {
    background-image: url("./traditional-japan2.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
}

/* content */

#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* header */

#header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content:  center;
    background-color: rgba(255, 255, 255, 0.500);
}

#header > h1 {
    font-size: 7rem;
}

nav {
    display: flex;
}

.navBtn {
    border: none;
    padding: 1.25rem 2.25rem;
    background: none;
    font-size: 2rem;
    font-weight: bold;
}

/* main Home Page */

main {
    margin: 4rem 0rem;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.500);
    padding: 2rem 1rem;
}

.txt {
    font-size: 2rem;
    text-align: center;
}

#profilePic {
    border-radius: 20rem;
    width: 290px;
    height: 290px;
}